body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* reset */

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

/* common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

/* section-hero*/

.section-hero {
    background-color: #2E2F42;
    height: 600px;
    padding: 188px 0;
}

.text-hero {
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button-hero {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
}

.button-hero:hover,
.button-hero:focus {
    background-color: #404BBF;
}

.text-hero-button {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

/* section-2 */

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(0);
    white-space: nowrap;
    border: 0;
}

.advantages-container { 
    padding: 120px 0;
} 

.advantages-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.advantages-item {
    width: calc((100% - 72px) / 4);
}

.advantages-title {
    margin-bottom: 8px;
}

/* section-3 */

.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-team-list {
    padding: 0;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42; 
    margin-bottom: 72px; 
}

.team-list {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
}

.team-title-paragraf {
    padding: 32px 0;
}

.team-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-paragraf {
    text-align: center;
}

.section-team-container ul {
    display: flex;
    justify-content: center;
    gap: 24px;
}

    /* Footer */

.page-footer {
    background-color: #2E2F42;
}

.header-logo .logo-footer {
    color: #F4F4FD;
}

.paragraph-footer {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}