body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

/* section-hero*/

.section-hero {
    background-color: #2E2F42;
}

.text-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button-hero {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.button-hero:hover,
.button-hero:focus {
    background-color: #404BBF;
}

/* section-2 */

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* section-3 */

.section-team {
    background-color: #F4F4FD;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;  
}

.team-list {
    background-color: #FFFFFF;
    }

/* Footer */

.page-footer {
    background-color: #2E2F42;
}

.header-logo .logo-footer {
    color: #F4F4FD;
}

.paragraph-footer {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}